:root {
    --hexagram: #000;
    --hexagram-mutated: #4f4f4f;
    --hexagram-mutated-glyph: #c10007;
    --hexagram-placeholder: #eee;
}

.dark {
    --hexagram: #252525;
    --hexagram-mutated: #3A3A3A;
    --hexagram-mutated-glyph: #9f0712;
    --hexagram-placeholder: #191919;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.hint {
    color: #bbb !important;
    text-decoration: none;
}

.coin {
    width: 100px;
    height: 100px;
}

@keyframes coin-flip {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(270deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/*.coin-flipping {
  animation: coin-flip 0.8s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}*/

.coin-flipping {
    animation: coin-flip 0.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/*.coin-flipping {
  animation: coin-flip-fast 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
}*/

.hexagrams-container {
    min-height: 225px;
}

#original-hexagram {
    min-height: 150px;
}

.hexagram-line {
    height: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.yang {
    background-color: var(--hexagram);
    width: 100%;
}

.yin {
    background-color: var(--hexagram);
    width: 45%;
}

.mutant .yang,
.mutant .yin {
    background-color: var(--hexagram-mutated);
    /* Gris anthracite : #2f2f2f*/
}

.mutant::after {
    content: "*";
    color: var(--hexagram-mutated-glyph);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 575px) {
    .container {
        padding: 0;
    }
}