@import url("https: //fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nanum+Myeongjo&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@plugin "@tailwindcss/typography";
@import "basecoat-css";
@import "./app.css";

:root {
    --radius: 0.625rem;
    --background: #fdfdfd;
    --foreground: var(--color-neutral-900);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
}

.dark {
    --background: #121212;
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.22 0 0);
    --card-foreground: oklch(0.985 0 0);
}

@theme {
    --font-playfair: "Playfair Display", serif;
    --font-eb-garamond: "EB Garamond", serif;
    --font-nanum-myeongjo: "Nanum Myeongjo", serif;
    --font-noto-serif: "Noto Serif", serif;
    --font-amarna: "Amarna", serif;
}