@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "basecoat-css";
@import "./app.css";

:root {
    --radius: 0.625rem;
    --background: #fdfdfd;
    --foreground: var(--color-neutral-900);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
}

.dark {
    --background: #121212;
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.22 0 0);
    --card-foreground: oklch(0.985 0 0);
}

@theme {
    --font-cinzel: "Cinzel", serif;
}

.font-variant-small-caps {
    font-variant: small-caps;
}